<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Suffragist</title>
    
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="/css/bootstrap.css" rel = "stylesheet"/>
	<link href="/css/bootstrap-responsive.css" rel = "stylesheet"/>
	
  </head>
  <body class='container'>
	<div class = 'row text-center'>
		<h1>Freedom board</h1>
		<div class = "col-sm-8">
			<form action="/" method="POST">
				<div class = "form-group">
					<textarea class = "upper-textarea" rows="3" name = "txt1" placeholder="Please type message"></textarea>
				</div>
				<div class = "form-group">
					<textarea class = "lower-textarea" rows="1" name = "txt2" placeholder = "Anonymous"></textarea>
					<button class= "btn btn-primary" type = "submit" onclick="myFunction()>Ipahayag!</button>
				</div>
				
				<script>
				</script>
			</form>
			<div class= "panel panel-primary">
				<div class = "form-group">
					<textarea class = "form-control" rows="1" >Hanapin ang post</textarea>
					<button class= "btn btn-primary">Hanapin</button>
				</div>
				<div class = "con">
				<div class="panel-body">Panel Body</div>
			</div>
			</div>
		</div>
	</div>
  </body>
</html>